{% extends "base.html" %}

{% block content%}


<!-- Form to get the user selection -->
<div id="myForm" class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h6 style="text-align: center;">How do you feel about this house?
            </h6>
            <form method="POST" action="/classify/{{ myVar}}" id="form" role="form">
                <!-- <label for="inputLat">Enter your name: </label> -->
                <input id="UserName" type="hidden" type="text" name="username" value={{ myVar}}>
                <input id="houseID" type="hidden" type="text" name="houseID">
                <!-- <div class="center">
                    </div> -->
                <div class="center">
                    <button type="submit" name="myCheckbox" value="Yes"
                        class="btn btn-outline-secondary btn-lg bg-dark"><i class="fa fa-heart-o"></i>
                        Love</button>&nbsp
                    <button type="submit" name="myCheckbox" value="Maybe"
                        class="btn btn-outline-secondary btn-lg bg-dark"><i class="fa fa-thumbs-o-up"></i>
                        Like</button>&nbsp
                    <button type="submit" name="myCheckbox" value="No"
                        class="btn btn-outline-secondary btn-lg bg-dark"><i class="fa fa-thumbs-o-down"></i>
                        Dislike</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Form to get the user selection -->

<!-- House description -->
<div class="container" style="text-align: center;">
    <hr>
    <div class="row">
        <div class="col-12" style="margin-top: 0%;">
            <h4>
                <span style="opacity:0;" class="Invisible text">I</span><span id="Price"
                    style="color:black"></span><span style="opacity:0;" class="Invisible text">I</span>
            </h4>
            <div style="margin-bottom: 1%;">
                <strong><span id="Beds"></span></strong> bed(s) |
                <strong><span id="Baths"></span></strong> bath(s) |
                <strong><span id="Sqft"></span></strong> sqft
            </div>

            <span style="opacity:0;" class="Invisible text">I</span><span id="Address" style="color:black"></span><span
                style="opacity:0;" class="Invisible text">I</span>
        </div>
    </div>
    <hr>
</div>
<!-- House description -->

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6" style="margin-top: 2%;">
            <!-- <img id="housePhotoPage" src="{{ url_for('static', filename='/images/loading_image.jpg')}}"> -->


            <!-- Carousel -->
            <!-- https://www.w3schools.com/bootstrap4/bootstrap_carousel.asp -->
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img id="housePhotoPage_1" src="{{ url_for('static', filename='/images/loading_image.jpg')}}"
                            alt="House Image">
                    </div>
                    <div class="carousel-item">
                        <img id="housePhotoPage_2" src="{{ url_for('static', filename='/images/loading_image.jpg')}}"
                            alt="House Image">
                    </div>
                </div>
                <br />
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <!-- Carousel -->

        </div>
        <div class="col-12 col-lg-6" style="margin-top: 2%;">
            <div id="map"><img id="mapLoading" src="{{ url_for('static', filename='/images/loading_image.jpg')}}">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12" style="margin-bottom: 2%;">
            <span id="Date" style="font-size:small;"></span>
        </div>
    </div>
</div>



<!-- JS to load house info on the page -->
<script src="{{ url_for('static', filename='js/app.js')}}"></script>


{% endblock content%}