<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <title>Find Your Dream House</title>

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- d3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

    <!-- Leaflet.Terminator https://github.com/joergdietrich/Leaflet.Terminator -->
    <!-- <script src="https://unpkg.com/leaflet"></script> -->
    <script src="https://unpkg.com/@joergdietrich/leaflet.terminator"></script>


</head>

<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/realstatelistings">API</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/scrapy/page_number">Scraper</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Nav bar -->


    <!-- Header -->
    <div class="container-fluid" style="background-color: rgb(76, 82, 82); text-align:center; color:bisque">
        <h3>Find Your Drem House</h3>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img id="housePhotoPage" src="#">
                <br />

            </div>
            <div class="col-12 col-lg-6">
                <div id="map"></div>
            </div>
        </div>
        <a id="myAnchor" href="#"></a>
    </div>
    <!-- <div id="map"></div> -->




    <!-- Form to get the user selection -->
    <div id="myForm" class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h6 style="text-align: center;">Select one option for this listing:</h6>
                <!-- <div class="btn-group" role="group" aria-label="Basic mixed styles example"> -->
                <form method="POST" action="/" id="form" role="form">
                    <div class="center">
                        <!-- <label for="inputLat">Enter your name: </label> -->
                        <input type="text" name="username" placeholder="Enter your name here">
                    </div>
                    <div class="center">
                        <label class="btn btn btn-danger">
                            <input type="checkbox" name="myCheckbox" value="Dislike">Dislike<br>
                        </label>
                        <label class="btn btn-warning">
                            <input type="checkbox" name="myCheckbox" value="Missing Info">Missing Info<br>
                        </label>
                        <label class="btn btn-success">
                            <input type="checkbox" name="myCheckbox" value="Like">Like<br>
                        </label>
                    </div>
                    <div class="center">
                        <input type="submit" value="submit" class="btn btn-default">
                    </div>
                    <input type="text" type="hidden" id="houseID" name="houseID">
                </form>
                <!-- </div> -->
            </div>
        </div>
    </div>


    <!-- JS to load house info on the page -->
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>




</body>

</html>