{% extends "base.html" %}

{% block content%}

<!-- <main role="main"> -->
<div class="jumbotron bg-cover"
    style="text-align: center;background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url('/static/images/real-estate-key-md.jpg');">
    <h1 class="display-4">Find Your Dream Home!</h1>
    <br />
    <br />
    <p class="lead">Find your dream home using Machine Learning algorithms.</p>
    <!-- Form to get the user selection -->
    <div id="myForm" class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <form method="POST" action="/">
                    <input type="text" id="fname" name="fname" placeholder="Your name" required><br><br>
                    <input type="text" id="useremail" name="useremail" placeholder="Your email" required><br><br>
                    <input class="btn btn-lg bg-dark" type="submit" role="button" value="Start &raquo;">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- </main> -->

{% endblock content%}