{% extends "base.html" %}

{% block content%}

<!-- <main role="main"> -->
<div class="jumbotron bg-cover"
    style="text-align: center;background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url('static/images/home-4604695_1920.jpg');">
    <h1 class="display-4">Find Your Dream Home!</h1>
    <br />
    <br />
    <p class="lead">Find your dream home using Machine Learning algorithms.</p>



    <!-- Button trigger modal -->
    <button type="button" class="btn btn-lg bg-dark" data-toggle="modal" data-target="#exampleModal">
        Start Here <i class="fa fa-arrow-circle-right"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form to get the user selection -->
                    <div id="myForm" class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <form method="POST" action="/">
                                    <input type="text" id="fname" name="fname" placeholder="Your name" required><br><br>
                                    <input type="text" id="useremail" name="useremail" placeholder="Your email"
                                        required><br><br>
                                    <input class="btn btn-lg bg-dark" type="submit" role="button"
                                        value="Begin Your Journey!">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </main> -->

<div class="container">
    <div class="row">
        <div class="col-12" style="text-align: justify;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac libero ante. Donec congue risus
                at vehicula facilisis. Sed convallis, elit eget faucibus interdum, purus diam maximus justo, sit amet
                condimentum nisl lorem scelerisque libero. Donec suscipit lobortis metus, eu convallis quam rutrum et.
                Nulla molestie nisi sagittis eros viverra laoreet. Donec aliquet nibh risus, eget placerat nulla pretium
                vel. In hac habitasse platea dictumst. Praesent a posuere nunc, ut tincidunt justo. Nulla commodo tellus
                vel feugiat interdum.</p>

            <p>Donec ut leo feugiat, condimentum enim eu, mollis tortor. Proin at tincidunt erat. Fusce purus lectus,
                dapibus id varius non, tempus vitae erat. Quisque in urna tempor, congue elit id, rutrum ipsum. Ut eget
                congue diam. Mauris venenatis leo at augue gravida luctus non at metus. Sed non velit gravida, consequat
                sem eget, maximus tellus. Aliquam a lectus orci. Interdum et malesuada fames ac ante ipsum primis in
                faucibus.</p>
        </div>
    </div>
</div>

<div style="text-align: center;margin-top:1%">
    <hr>
    <p>We have received <strong><span id="visitor"></span></strong> visitors since February 2021.</p>
</div>

<script>
    d3.json('/api/show-visitors/count/').then((userdata) => {
        console.log(userdata);
        document.getElementById('visitor').textContent = `${userdata.visitors}`;
    })
</script>


{% endblock content%}