{% extends "base.html" %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col-6" style="margin-top: 2%; margin-bottom:40%">
            <h4>Routes:</h4>
            <hr>
            <ul>
                <li>Get all the real estate in the database:
                    <a href="/api/realstatelistings"><span>/api/realstatelistings</span></a>
                </li>
                <li>Get the user selection by user_name:
                    <a href="/api/userselections/username"><span>/api/userselections/user_name</span></a>
                </li>
            </ul>

        </div>
    </div>
</div>



{% endblock content%}